[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.0,<4.1"
django-choices-field = "*"
django-colorfield = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-health-check = "*"
django-location-field = "*"
django-model-utils = "*"
django-storages = "*"
firebase-admin = "*"
gunicorn = "*"
promise = "*"
psycopg2-binary = "*"
strawberry-django-plus = "*"
strawberry-graphql = "*"
strawberry-graphql-django = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"
mypi = "*"
strawberry-graphql = {extras = ["debug-server"], version = "*"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
