[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.1,<4.2"
django-choices-field = "*"
django-colorfield = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-health-check = "*"
django-location-field = "*"
django-model-utils = "*"
django-ordered-model = "*"
django-storages = "*"
dotmap = "*"
firebase-admin = "*"
gunicorn = "*"
promise = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
strawberry-django-plus = "*"
strawberry-graphql = "*"
strawberry-graphql-django = "==0.4"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"
mypi = "*"
strawberry-graphql = {extras = ["debug-server"], version = "*"}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
