[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.0,<4.1"
django-extensions = "*"
django-health-check = "*"
django-model-utils = "*"
django-storages = "*"
graphene-django = ">=2.15,<2.16"
graphene-django-extras = "==0.4.9"
gunicorn = "*"
psycopg2-binary = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
